<script type="text/ng-template" id="myModalContent.html">   
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Are you sure you want to delete?</h3>
      </div>
      <div class="modal-body">
       <button class="btn btn-lg btn-danger btn-block" ng-click="delete()" >Yes</button>
       <button class="btn btn-lg btn-primary btn-block" ng-click="close()" >No</button>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="ingredientImport.html">   
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Please Copy In Ingredient List</h3>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <textarea class="form-control" rows="10" ng-model="importIngredients.data"></textarea>
       </div>
       <button class="btn btn-lg btn-danger btn-block" ng-click="import()" >Import</button>
       <button class="btn btn-lg btn-primary btn-block" ng-click="close()" >Cancel</button>
      </div>
    </div>
  </div>
</script>

<div class="page-header">
  <p>{{title}}</p>
</div>

<div class="col-sm-6"> 
  <div class="form-group">
      <label for="title">Title</label>
      <input id="title" placeholder="My awesome recipe" type="text" class="form-control" ng-model="recipe.title">
  </div>
</div>

<div class="col-sm-6">    
  <div class="form-group">
    <label for="prep_time">Prep Time</label>
    <input id="prep_time" type="text" class="form-control" placeholder="Time in Minutes" ng-model="recipe.prep_time">
  </div>
</div>


<div class="col-sm-6">
  <div class="form-group">
    <label for="cook_time">Cook Time</label>
      <input id="cook_time" type="text" class="form-control" placeholder="Time in Minutes" ng-model="recipe.cook_time">
  </div>
</div>


<div class="col-sm-6">
  <div class="form-group">
    <label for="url">URL</label>
    <input id="url" type="text" class="form-control" placeholder="URL" ng-model="recipe.url">
  </div>
</div>
<div class="col-sm-6">
  <div class="form-group">
    <label for="category">Category</label>
    <input id="category" placeholder="Breakfast, Lunch, Dinner, Desert, Heart-burn Inducing, etc." type="text" class="form-control" ng-model="recipe.category">
  </div>
</div>

<div class="col-sm-6">
  <label for="rating">Rating</label>
    <star-rating id="rating" rating-value="recipe" max="5"></star-rating>
</div>

<div class="col-sm-11">
  <div class="form-group">
    <label for="instructions">Instructions</label>
    <textarea id="instructions" class="form-control" placeholder="Tell us how to make this awesome meal..." rows="5" ng-model="recipe.instructions"></textarea>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Quantity
      </th>
      <th>
        Unit
      </th>
      <th>
        Ingredient
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="my-repeat-animation"  ng-repeat="ingredient in recipe.ingredients">
      <td >
        <div class="form-group">
          <input type="text" class="form-control" ng-model="ingredient.quantity">
        </div>
      </td>
      <td >
        <div class="form-group">
          <input type="text" class="form-control" ng-model="ingredient.units">
        </div>
      </td>
      <td >
        <div class="form-group">
          <input type="text" class="form-control" ng-model="ingredient.name">
        </div>
      </td>
      <td>
        <button type="button" class="btn btn-danger btn-lg" ng-click="deleteIngredient(ingredient)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button type="button" ng-click="addIngredient()" class="btn btn-default btn-lg">
          <i class="fa fa-plus"></i>
          Add Ingredient
        </button>
      </td>
      <td colspan="2">
        <button type="button" class="btn btn-default btn-lg" ng-click="importIngs()">
          <i class="fa fa-download"></i>
          Ingredient Import
        </button>
      </td>
    </tr>
  </tbody>
</table>
  
<br/>
<div class="col-md-6">
  <a href="#view">
    <button type="button" class="btn btn-default btn-lg">
      <i class="fa fa-arrow-left"></i>
      Return to All
    </button>
  </a>
</div>

<div class="col-md-6">
  <button type="button" ng-click="saveRecipe()" class="btn btn-default btn-lg">
    <i class="fa fa-floppy-o"></i>
    Save Recipe
  </button>
</div>