<div class="page-header">
  <p>{{recipe.title}}</p>
</div>

<div class="col-md-6">
  <label for="preptime">Prep Time</label>
  <div id="preptime" ng-show="recipe.prep_time">    
    {{recipe.prep_time}} minutes
  </div>
  <div id="prepTime_unknown" ng-hide="recipe.prep_time">
    Unknown
  </div>
</div>

<div class="col-md-6">
  <label for="cooktime">Cook Time</label>
  <div id="cooktime" ng-show="recipe.cook_time">    
      {{recipe.cook_time}} minutes
  </div>
  <div id="cooktime_unknown">
    Unknown
  </div>
</div>

<div class="col-md-6">
  <label for="rating">Rating</label>
  <star-rating id="rating" rating-value="recipe" max="5" readonly="true"></star-rating>
</div>

<div class="col-md-6">
  <label for="url">URL:</label>
  <div id="url">
    <a ng-href="{{recipe.url}}">
      {{recipe.url}}
    </a>
  </div>
</div>
<div class="col-md-6">
  <label for="category">Category</label>
  <div id="category">    
      {{recipe.category}}
  </div>
</div>
<br/>
<div class="col-md-11">
  <label for="instructions">Instructions</label>
  <div id="instructions" ng-bind-html="recipe.instructions| unsafe">     
  </div>
</div>

<br/>

<div class="col-sm-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          Quantity
        </th>
        <th>
          Unit
        </th>
        <th>
          Ingredient
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="my-repeat-animation"  ng-repeat="ingredient in recipe.ingredients">
        <td >
          {{ingredient.quantity}}
        </td>
        <td >
          {{ingredient.units}}
        </td>
        <td >
          {{ingredient.name}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<br/>

<div class="col-md-6">
  <a href="#view">
    <button type="button" class="btn btn-default btn-lg">
      Return to All
    </button>
  </a>
</div>

<div class="col-md-6">
  <button type="button" ng-click="editRecipe(recipe)" class="btn btn-default btn-lg">
    Edit Recipe
  </button>
</div>