<div class="navbar navbar-default navbar-fixed-top page-header">
  <ul class="nav navbar-nav">
    <li>
      <a (click)="this._router.navigate([''])">
        <i class="fa fa-arrow-left"></i>
      </a>
    </li>
    <li>
      <a (click)="this._router.navigate(['add'])">
        <i class="fa fa-plus"></i>
      </a>
    </li>
  </ul>
  <p>&nbsp;Recipes</p>
</div>

<!--<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Are you sure you want to delete?</h3>
      </div>
      <div class="modal-body">
       <button class="btn btn-lg btn-danger btn-block" ng-click="delete()" >Yes</button>
       <button class="btn btn-lg btn-primary btn-block" ng-click="close()" >No</button>
      </div>
    </div>
  </div>
</script>-->

<div class="row">
    <div class="col-md-6 col-md-offset-3">
    <div class="">
        <!--<input type="text" class="form-control"  placeholder="Enter Ingredient..." ng-model="searchTerm" ng-change="search()">-->
        <input type="text" class="form-control"  placeholder="Enter Ingredient...">
    </div>
  </div>
</div>

<div class="col-md-2">
  <table class="table">
    <thead><tr><th>Category</th></tr></thead>
  </table>

  <div class="list-group" >
    <!---<a class="list-group-item" ng-class="{active: currentCategory == category}" ng-click="filterCategory(category)" *ngFor="let category of categories">{{category}}</a>-->
    <a class="list-group-item" *ngFor="let category of categories">{{category}}</a>
  </div>
</div>

<div class="col-md-10">
  <table class="table table-striped left-side-menu">
    <thead>
      <tr>
        <th>
          Title
        </th>
        <th>
          Prep Time
        </th>
        <th>
          Cook Time
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="my-repeat-animation"  *ngFor="let recipe of recipes" >
        <td ng-click="go(recipe)" class="data-cell">
          {{recipe.title}}
        </td>
        <td ng-click="go(recipe)" class="data-cell">
          {{recipe.prep_time}}
        </td>
        <td ng-click="go(recipe)" class="data-cell">
          {{recipe.cook_time}}
        </td>
        <td>
          <button type="button" class="btn btn-danger btn-lg delete" (click)="deleteRecipe(recipe)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
      <!--<tr class="my-repeat-animation"  ng-repeat="recipe in recipes" >
        <td ng-click="go(recipe)">
          {{recipe.title}}
        </td>
        <td ng-click="go(recipe)">
          {{recipe.prep_time}}
        </td>
        <td ng-click="go(recipe)">
          {{recipe.cook_time}}
        </td>
        <td>
          <button type="button" class="btn btn-danger btn-lg" ng-click="deleteRecipe(recipe)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>-->
    </tbody>
  </table>
</div>
<br/>


<div class="bottom-padding"></div>